@model ScruMster.Areas.Identity.Data.Team
@using Microsoft.AspNetCore.Identity
@using ScruMster.Areas.Identity.Data
@inject SignInManager<ScruMsterUser> SignInManager

@{
    ViewData["Title"] = "Details";
}

<br /><br />
<h1>Details</h1>
<br /><br />
<div>
    <h4>Team</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Leader 
        </dt>
        <dd class="col-sm-10">
            <div><pre>@ViewBag.teamLeader.FirstName            @ViewBag.teamLeader.LastName</pre></div> 
        </dd>
        <dt class="col-sm-2">
            Users 
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in ViewBag.teamUsers)
            {
                @if (item.Id != @ViewBag.teamLeader.Id)
                {
                    <div><pre>@item.FirstName            @item.LastName</pre></div>
                }}
        </dd>
    </dl>
</div>

<br /><br />
<h3>Sprints</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Sprints)
        {
            <tr>
                <td>
                    @item.Name
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Manager")))
    {
        <a class="text-primary" asp-action="Edit" asp-route-id="@Model.TeamID">Edit</a>
    }
    
   <a class="text-primary" asp-action="Index">Back to List</a>
   
</div>