@model IEnumerable<ScruMster.Areas.Identity.Data.Team>
@using Microsoft.AspNetCore.Identity
@using ScruMster.Areas.Identity.Data
@inject SignInManager<ScruMsterUser> SignInManager

<br />
@{
    ViewData["Title"] = "Team";
}

<h1>Team</h1>

@if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || (User.IsInRole("Manager") && ViewBag.ShowCreate)))
{

    <button type="button" class="btn btn-outline-primary btn-sm">
        <a class=" nav-link text-primary" asp-action="Create">+Create New</a>
    </button>
}

<br />
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <div class="text-right">
                        <p>
                            @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Manager")))
                            {
                                <a class="text-primary" asp-action="Edit" asp-route-id="@item.TeamID">Edit</a>
                            }

                            <a class="text-primary" asp-action="Details" asp-route-id="@item.TeamID">Details</a>



                            @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Manager")))
                            {

                                <a class="text-danger" asp-action="Delete" asp-route-id="@item.TeamID">Delete</a>
                            }

                        </p>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
