@model ScruMster.Areas.Identity.Data.Sprint


@{
    ViewData["Title"] = "Details";

}

<h1>Details</h1>

<div>
    <h4>Sprint</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deadline)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsDone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsDone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Team)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Team.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class="col-sm-5">
            @foreach (var item in ViewBag.allComments)
            {
                <div><pre>@item.Text            @item.AddTime</pre></div>
            }
        </dd>
        <dd class="col-sm-5">
            @foreach (var item in ViewBag.allAuthors)
            {
                <div><pre>@item.FirstName            @item.LastName</pre></div>
            }
        </dd>
    </dl>
</div>


<div>
    <a asp-action="Edit" asp-route-id="@Model.SprintID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
